<div class="row mt-2 mr-2 ml-2">
    <div class="col-sm-3">
        <div class="card  mb-3" style="max-width: 18rem;">
            <div class="card-header">Insert New User</div>
            <div class="card-body text-dark">
                <form action="/insert" method="POST">

                    <div class="form-group">
                        <label for="exampleInputUserName1">User Name</label>
                        <input type="text" class="form-control" placeholder="Enter User Name:" name="username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Email</label>
                        <input type="email" class="form-control" placeholder="Enter User Email:" name="useremail">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success" style="width: 100%;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card  mb-3" style="max-width: 18rem;">
            <div class="card-header">Get All Users</div>
            <div class="card-body text-dark">
                {{#each items }}
                <div>
                    ID:{{this._id}}
                </div>
                <div>
                    User Name:{{this.userName}}
                </div>
                <div>
                    User Email:{{this.userEmail}}
                </div>
                <hr />
                {{/each}}
                <form action="/getusers" method="GET">

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Get Users</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card  mb-3" style="max-width: 18rem;">
            <div class="card-header">Update User</div>
            <div class="card-body text-dark">
                <form action="/update" method="POST">
                    <div class="form-group">
                        <label for="exampleInputID1">ID</label>
                        <input type="text" class="form-control" placeholder="Enter ID:" name="id">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUserName1">User Name</label>
                        <input type="text" class="form-control" placeholder="Enter User Name:" name="username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Email</label>
                        <input type="email" class="form-control" placeholder="Enter User Email:" name="useremail">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info" style="width: 100%;">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
      <div class="col-sm-3">
        <div class="card  mb-3" style="max-width: 18rem;">
            <div class="card-header">Delete User</div>
            <div class="card-body text-dark">
                <form action="/delete" method="POST">
                    <div class="form-group">
                        <label for="exampleInputID1">ID</label>
                        <input type="text" class="form-control" placeholder="Enter ID:" name="id">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger" style="width: 100%;">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>